@charset "utf-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

li {
    list-style: none;
}

a { 
    color: inherit;
    text-decoration: none;
}

/* 기본설정 end */

.header{
    height: 100px;
    width: 1280px;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .gnb{
    display: flex;
    gap: 20px;
}

.header .util{
    display: flex;
    gap: 16px;
}
/* 상단 바 end */

.main_visual{
    height: 100vh;
}

.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 {
    width: 1280px;
    margin: 160px auto;
}

.section-01 .list{
    display: flex;
    justify-content: space-between;
    
}
.section-01 .list .item{
    width: 400px;
}

.section-01 .list .item img{
    width: 100%;
    height: 340px;
    object-fit: cover;
}
/* section-01 end */

.section-02{
 margin: 160px 0;
}
.section-02 h2{
    text-align: center;
}

.section-02 .list{
    display: flex;
    justify-content: center;
    gap: 40px;
    
    
    
}

.section-02 .list .item{
    width: 300px;
    height: 300px;
    background-color: rgb(147, 214, 214);
    border-radius: 50%;
    /* text-align: center;
    line-height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: burlywood;
    padding: 80px;
    text-align: center;
}